<table class="table">
    <thead>
        <tr>
            <th>Sensor</th>
            <th>Valor</th>
            <th>Unidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TEM</td>
            <td>{{temperaturaActual}}</td>
            <td>C°</td>
        </tr>
        <tr>
            <td>CO</td>
            <td>{{coActual}}</td>
            <td>ppm</td>
        </tr>
        <tr>
            <td>GPS</td>
            <td>{{gps.velocidad}}</td>
            <td>Vel m/sg</td>
        </tr>
        <tr>
            <td>GPS</td>
            <td>{{gps.curso}}</td>
            <td>Curso</td>
        </tr>
        <tr>
            <td>GPS</td>
            <td>{{gps.latitud}}</td>
            <td>Latitud</td>
        </tr>
        <tr>
            <td>GPS</td>
            <td>{{gps.longitud}}</td>
            <td>Longitud</td>
        </tr>
        <tr>
            <td>GPS</td>
            <td>{{gps.altitud}}</td>
            <td>Altitud</td>
        </tr>
        <tr>
            <td>USa</td>
            <td>{{uAdelante}}</td>
            <td>cm</td>
        </tr>
        <tr>
            <td>USi</td>
            <td>{{uIzquierda}}</td>
            <td>cm</td>
        </tr>
        <tr>
            <td>USd</td>
            <td>{{uDerecha}}</td>
            <td>cm</td>
        </tr>
    </tbody>
</table>