<table style="background-color:black" class="table table-dark responsive" align="center">
    <thead>
        <tr align="center">
            <td></td>
            <td style="background-color:black">
                <button type="button" (mousedown)="arriba()" (mouseup)="stop()" class="btn btn-primary imagenArriba">
                </button>
            </td>
            <td></td>

        </tr>
        <tr align="center">
            <td style="background-color:black">
                <button type="button" (mousedown)="izquierda()" (mouseup)="stop()" class="btn btn-primary imagenIzquierda"></button>
            </td>
            <td style="background-color:black">
                <button type="button" (mousedown)="abajo()" (mouseup)="stop()" class="btn btn-primary imagenAbajo">

                </button>
            </td>


            <td style="background-color:black">
                <button type="button" (mousedown)="derecha()" (mouseup)="stop()" class="btn btn-primary imagenDerecha">
                </button>
            </td>

        </tr>
    </thead>
</table>