<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" >
            <a routerLink="/" aria-controls="home" role="tab" data-toggle="tab">Inicio</a>
        </li>
        <li role="presentation">
            <a routerLink="/estadisticas" aria-controls="tab" role="tab" data-toggle="tab">Estadisticas</a>
        </li>
        <li role="presentation">
            <a routerLink="/control" aria-controls="tab" role="tab" data-toggle="tab">Otras opciones</a>
        </li>
    </ul>
</div>
