<div class="row">

  <div class="col-xs col-sm col-md col-lg">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Estadísticas de Temperatura</h3>
      </div>
      <div class="panel-body" align="center" *ngIf="multi.length > 0">

        <ngx-charts-heat-map [scheme]="colorScheme" [results]="multi" [legend]="showLegend" [gradient]="gradient" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
          <!--[view]="[800, 1000]"-->
        </ngx-charts-heat-map>
      </div>
      <div class="panel-body" align="center" *ngIf="multi.length === 0">

        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>No hay datos</strong> Cambie los parámetros de temperatura
        </div>

      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-xs col-sm col-md col-lg">
    <label style="color:white">Ingrese fecha inicio</label>
    <input type="date" name="fechai" [(ngModel)]="fechai">
    <label style="color:white">Ingrese fecha fin</label>
    <input type="date" name="fechaf" [(ngModel)]="fechaf">
    <button type="button" class="btn btn-info" (click)="cambiandoIntervalo()">Obtener</button>

  </div>


</div>
<br>

<div class="row">

  <div class="col-xs col-sm col-md col-lg">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Estadísticas de Monóxido de Carbono</h3>
      </div>
      <div class="panel-body" *ngIf="Lineasingle[0].series.length > 0">
        <ngx-charts-line-chart [scheme]="LineacolorScheme" [results]="Lineasingle" [gradient]="Lineagradient" [xAxis]="LineashowXAxis"
          [yAxis]="LineashowYAxis" [legend]="LineashowLegend" [showXAxisLabel]="LineashowXAxisLabel" [showYAxisLabel]="LineashowYAxisLabel"
          [xAxisLabel]="LineaxAxisLabel" [yAxisLabel]="LineayAxisLabel" (select)="onSelect($event)" [view]="[500, 300]">
        </ngx-charts-line-chart>
      </div>
      <div class="panel-body" *ngIf="Lineasingle[0].series.length === 0">

        <div class="alert alert-info" align="center">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Esperar a obtener datos</strong> Faltan datos para procesar monóxido
        </div>

      </div>
    </div>
  </div>



</div>


<div class="row">

  <div class="col-xs col-sm col-md col-lg">
    <label style="color:white">Ingrese maximo valores a visualizar</label>
    <input type="number" name="valorPPM" value="10" [(ngModel)]="valorPPM" min="1">
  </div>

</div>