
<div class="table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sensor</th>
                <th>Valor</th>
                <th>Unidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TEM</td>
                <td></td>
                <td>C°</td>
            </tr>
            <tr>
                <td>CO</td>
                <td></td>
                <td>ppm</td>
            </tr>
            <tr>
                <td>GPS</td>
                <td></td>
                <td>Vel m/sg</td>
            </tr>
            <tr>
                <td>GPS</td>
                <td></td>
                <td>Curso</td>
            </tr>
            <tr>
                <td>GPS</td>
                <td></td>
                <td>Latitud</td>
            </tr>
            <tr>
                <td>GPS</td>
                <td></td>
                <td>Longitud</td>
            </tr>
            <tr>
                <td>GPS</td>
                <td></td>
                <td>Altitud</td>
            </tr>
            <tr>
                <td>USa</td>
                <td></td>
                <td>cm</td>
            </tr>
            <tr>
                <td>USi</td>
                <td></td>
                <td>cm</td>
            </tr>
            <tr>
                <td>USd</td>
                <td></td>
                <td>cm</td>
            </tr>
        </tbody>
    </table>
</div>