<!--<div class="row" align="center">
    <h5>{{titulo}}</h5>
  </div>-->
<div class="colorFondo">
  <div class="row">
    <div class="col-md-2">
      <app-tablaSensores></app-tablaSensores>
    </div>
    <div class="col-md-8">
      
      <app-capturaVideo></app-capturaVideo>
      <app-panelControl></app-panelControl>
    </div>
    <div class="col-md-2">
      <app-tablaInfo></app-tablaInfo>
    </div>
  </div>
    
  <app-panelInferior></app-panelInferior>

  <div *ngIf="this.mensaje?.length > 0">
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Nueva info</strong> {{this.mensaje}}
    </div>
  </div>
</div>