<div class="row panelInferior" align="center">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button type="button" class="btn btn-success">Estadística</button>
        <button type="button" class="btn btn-success">Mapa</button>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button type="button" class="btn btn-info">Led</button>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button type="button" class="btn btn-warning">Reiniciar</button>
        <button type="button" class="btn btn-danger">Apagar</button>
    </div>
</div>